@import url(https://fonts.googleapis.com/css?family=Comfortaa);


.row{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.activeColor{
    font-family: Comfortaa;
    padding-top:5px;
    height: 30px;
    width: 10%;
    border: 2px solid grey;
    cursor: pointer;
}
.pointer{
    font-family: Comfortaa;
    cursor: pointer;
}
.App {
    text-align: center;
}
.link{
    font-family: Comfortaa;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
}
.link:visited{
    color:rgb(95, 95, 95);
}
.inputArea {
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.header{
    padding: 15px;
    font-family: Comfortaa;
}
.button{
    width: 175px;
    height: 45px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-family: Comfortaa;
    text-align: center;
}