@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.hero{
  width: 80%;
  height: 450px;
  position: relative;
  margin: 100px auto;
}

.btnbox{
  display: flex;
  padding-top: 5px;
  border-bottom: 2px solid black;
  margin: auto;
  width: 100%;
}

.btnbox button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 22px;
  padding-left: 59px;
  padding-right: 59px;
  align-items: center;
  font-size: 18px;
  font-family: Comfortaa;
  font-weight: bold;
}

.btnbox button:hover{
  color: goldenrod;
}

.header{
  font-family: Comfortaa;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
}

.title{
  text-align: center;
  display: block;
  font-size: 4em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.description{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3em;
}

