.hero{
  width: 80%;
  height: 450px;
  position: relative;
  margin: 100px auto;
}

.btnbox{
  display: flex;
  border-bottom: 2px solid #ccc;
  margin: auto;
  width: 71%;
}

.btnbox button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 22px;
  margin: 0 20px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.title{
  text-align: center;
  display: block;
  font-size: 4em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.description{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3em;
}

