.carousel{
    position: relative;
}

.carousel__item{
    height: 300px;
    background: grey;
    padding: 1em;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff
}